# Libraries

In [65]:
import pandas as pd
import numpy as np
import math
import requests

In [169]:
pd.set_option('display.max_columns', None) # display all columns in DF

# Connection to OpenFDA and data manipulation

In [276]:
payload = {'api_key': 'vJTYEEbNaMLaY4e8yZDGKYXwdmDdsPfZB05G87ea', 'limit': '1000'}
r = requests.get('https://api.fda.gov/drug/drugsfda.json?', params=payload)
data = r.json()

Flatting Nested JSON

In [274]:
df = pd.json_normalize(data['results'], max_level = 1)
df = df.drop(columns = ['submissions', 'products'])

Downloading as Excel-file

In [275]:
df.to_excel("output_openfda.xlsx")

In [175]:
df_test = df.explode('openfda.application_number') # can be used to remove list in data

# Connection to Medicaid and data manipulation

Creating a tables with all datasets and the related identifiers

In [99]:
r = requests.get('https://data.medicaid.gov/api/1/metastore/schemas/dataset/items')
data = r.json()

df_metastore = pd.json_normalize(data, max_level = 1)
#df_metastore = df[df['title'].str.contains('State Drug Utilization Data')]

df_metastore.head()

,bureauCode,programCode,accessLevel,keyword,dataQuality,description,distribution,identifier,title,issued,...,theme,landingPage,contactPoint.hasEmail,contactPoint.fn,publisher.name,@type,accrualPeriodicity,publisher.@type,temporal,references
0,[009:00],[009:076],public,"[cms-64, enrollment, expansion population, med...",True,Total Medicaid Enrollees - VIII Group Break Ou...,"[{'title': 'CSV', 'mediaType': 'text/csv', 'do...",6c114b2c-cb83-559b-832f-4d8b06d6c1b9,Medicaid Enrollment - New Adult Group,2017-11-10T01:05:58.000Z,...,[Enrollment],https://www.medicaid.gov/,Medicaid.gov@cms.hhs.gov,Medicaid.gov,data.medicaid.gov,NaN,NaN,NaN,NaN,NaN
1,[009:38],[009:076],public,"[performance rates, core sets, quality measures]",True,Performance rates on frequently reported healt...,"[{'title': 'CSV', 'mediaType': 'text/csv', 'do...",c1028fdf-2e43-5d5e-990b-51ed03428625,2017 Child and Adult Health Care Quality Measures,2018-08-08T21:21:28.000Z,...,[Quality],https://medicaid.gov,no-reply@data.medicaid.gov,Medicaid.gov,data.medicaid.gov,NaN,NaN,NaN,NaN,NaN
2,[009:38],[009:076],public,"[core sets, performance rates, quality measures]",True,Performance rates on frequently reported healt...,"[{'title': 'CSV', 'mediaType': 'text/csv', 'do...",229d6279-e614-5353-9226-f6a6f37d06c3,2018 Child and Adult Health Care Quality Measures,2019-07-22T16:24:55.000Z,...,[Quality],https://medicaid.gov,no-reply@data.medicaid.gov,Chris Vaughn,data.medicaid.gov,NaN,NaN,NaN,NaN,NaN
3,[009:38],[009:076],public,[medicaid],True,"Provides program names, program features, popu...","[{'title': 'CSV', 'mediaType': 'text/csv', 'do...",8f39b637-9bb1-5894-9062-2c4f2ad70fba,2017 Managed Care Programs by State,2019-04-18T16:46:12.000Z,...,[Enrollment],NaN,no-reply@data.medicaid.gov,Chris Vaughn,data.medicaid.gov,NaN,NaN,NaN,NaN,NaN
4,[009:38],[009:000],public,"[core sets, performance rates, quality measures]",True,Performance rates on frequently reported healt...,"[{'title': 'CSV', 'mediaType': 'text/csv', 'do...",e36d89c0-f62e-56d5-bc7e-b0adf89262b8,2019 Child and Adult Health Care Quality Measu...,2020-07-22T15:30:30.000Z,...,[Quality],https://www.medicaid.gov,mohanraj.balasubramanian@cms.hhs.gov,RajB,data.medicaid.gov,NaN,NaN,NaN,NaN,NaN

In [ ]:
itr = next(df_metastore['title'].iterrows())[1]
    print(itr)

In [102]:
for index, row in df_metastore.iterrows(): # iterating through meta data
    title_i = df_metastore['title']
    identifier_i = df_metastore['identifier']
    print(title_i, identifier_i)
    
    
#    df['Dataset'] = str(title_i)
#    df['Identifier'] = str(identifier_i)

ValueError: key of type tuple not found and not a MultiIndex

Looping through datasets and the related splitting API requests

In [169]:
start_url = 'https://data.medicaid.gov/api/1/datastore/query/'
middle_url = '2fed5758-5fd6-5dbb-8f92-34b3a0c3c8dd'
end_url = '/0'

for offset_i in range(0, 4474472, 10000):
    
    if offset_i == 0:
        r = requests.get(start_url + middle_url + end_url, timeout = 10)
        data = r.json()
        df_medicaid = pd.json_normalize(data['results'], max_level = 1)
        
    else:
        offset = offset_i
        offset_url = '?offset=' + str(offset)
        r = requests.get(start_url + middle_url + end_url + offset_url, timeout = 10)
        data = r.json()
        temp_df = pd.json_normalize(data['results'], max_level = 1)
        df_medicaid = df_medicaid.append(temp_df, ignore_index = True)

print(len(df_medicaid))

4474472

In [170]:
df_medicaid

,utilization_type,state,ndc,labeler_code,product_code,package_size,year,quarter,suppression_used,product_name,units_reimbursed,number_of_prescriptions,total_amount_reimbursed,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed
0,MCOU,KY,00378181701,00378,1817,01,2015,2,false,LEVOTHYROX,31162,986,15262.43,15205.81,56.62
1,FFSU,NY,00378003001,00378,0030,01,2015,1,false,CLORAZEPAT,2935,23,384.34,384.34,0
2,MCOU,XX,43598025811,43598,0258,11,2015,2,false,DOCETAXEL,124.05,25,10124.7,10124.7,0
3,FFSU,CO,61703030906,61703,0309,06,2015,3,true,VINCRISTIN,,,,,
4,FFSU,XX,51079067005,51079,0670,05,2015,2,false,METHOTREXA,1062,52,2066.5,2046.9,19.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4474467,MCOU,CA,16714008210,16714,0082,10,2015,3,false,HYDROXYZIN,139154,2734,21181.63,21180.43,1.2
4474468,MCOU,XX,00085432402,00085,4324,02,2015,2,false,NOXAFIL 10,36424,443,2002313.57,1976572.77,25740.8
4474469,MCOU,NH,00093611887,00093,6118,87,2015,4,false,PREDNISOLO,8177,190,954.18,950.62,3.56
4474470,FFSU,CA,43478024445,43478,0244,45,2015,2,false,TRETINOIN,6840,152,23227.3,23099.02,128.28
4474471,MCOU,MS,16729014501,16729,0145,01,2015,1,true,QUETIAPINE,,,,,

In [171]:
# droping empty rows
df_medicaid['units_reimbursed'] = pd.to_numeric(df_medicaid['units_reimbursed'], errors='coerce')
df_medicaid['total_amount_reimbursed'] = pd.to_numeric(df_medicaid['total_amount_reimbursed'], errors='coerce')
df_medicaid.dropna(subset = ['units_reimbursed', 'total_amount_reimbursed'], inplace = True)

# calculating price per unit
df_medicaid['price_per_unit'] = df_medicaid['total_amount_reimbursed'] / df_medicaid['units_reimbursed']
#df_medicaid = df_medicaid.replace([np.inf, -np.inf], np.nan).dropna(subset = ['units_reimbursed'], inplace = True) # infinite values
df_medicaid.head()

,utilization_type,state,ndc,labeler_code,product_code,package_size,year,quarter,suppression_used,product_name,units_reimbursed,number_of_prescriptions,total_amount_reimbursed,medicaid_amount_reimbursed,non_medicaid_amount_reimbursed,price_per_unit
0,MCOU,KY,00378181701,00378,1817,01,2015,2,false,LEVOTHYROX,31162.00,986,15262.43,15205.81,56.62,0.489777
1,FFSU,NY,00378003001,00378,0030,01,2015,1,false,CLORAZEPAT,2935.00,23,384.34,384.34,0,0.130951
2,MCOU,XX,43598025811,43598,0258,11,2015,2,false,DOCETAXEL,124.05,25,10124.70,10124.7,0,81.617896
4,FFSU,XX,51079067005,51079,0670,05,2015,2,false,METHOTREXA,1062.00,52,2066.50,2046.9,19.6,1.945857
5,MCOU,XX,00186001631,00186,0016,31,2015,2,false,ATACAND 16,491.00,26,1606.79,1596.15,10.64,3.272485

In [172]:
df_medicaid = df_medicaid.groupby(['labeler_code', 'product_code', 'year'])['price_per_unit'].mean()
df_medicaid = df_medicaid.reset_index()

In [173]:
df_medicaid.to_excel('output_mediciad_2015.xlsx', index = False)