# Libraries

In [9]:
import pandas as pd
import numpy as np
import math
import requests

In [169]:
pd.set_option('display.max_columns', None) # display all columns in DF

# Connection to OpenFDA and data manipulation

In [276]:
payload = {'api_key': 'vJTYEEbNaMLaY4e8yZDGKYXwdmDdsPfZB05G87ea', 'limit': '1000'}
r = requests.get('https://api.fda.gov/drug/drugsfda.json?', params=payload)
data = r.json()

Flatting Nested JSON

In [274]:
df = pd.json_normalize(data['results'], max_level = 1)
df = df.drop(columns = ['submissions', 'products'])

Downloading as Excel-file

In [275]:
df.to_excel("output_openfda.xlsx")

In [175]:
df_test = df.explode('openfda.application_number') # can be used to remove list in data

# Connection to Medicaid and data manipulation

Creating a tables with all datasets and the related identifiers

In [380]:
r = requests.get('https://data.medicaid.gov/api/1/metastore/schemas/dataset/items')
data = r.json()

df = pd.json_normalize(data, max_level = 1)
df = df[df['title'].str.contains('State Drug Utilization Data')]

df.head(3)

    bureauCode programCode accessLevel                                            keyword dataQuality                                        description                                       distribution                            identifier                             title                     issued                   modified                               license                     theme landingPage       contactPoint.hasEmail contactPoint.fn     publisher.name         @type accrualPeriodicity   publisher.@type temporal references
114   [009:00]   [009:076]      public  [pharmacy, medicaid reimbursements, drug utili...         NaN  Drug utilization data are reported by states f...  [{'@type': 'dcat:Distribution', 'title': 'CSV'...  56adbcf4-f86b-5ab3-98fe-e713bbf99f12  State Drug Utilization Data 1996  2015-06-11T14:22:39+00:00  2021-02-18T03:23:39+00:00  https://www.usa.gov/government-works  [State Drug Utilization]         NaN  no-reply@data.medicaid.gov    Medicaid.gov  data.medicaid.gov  dcat:Dataset             R/P10Y  org:Organization      NaN        NaN
115   [009:00]   [009:076]      public  [pharmacy, medicaid reimbursements, drug utili...         NaN  Drug utilization data are reported by states f...  [{'@type': 'dcat:Distribution', 'title': 'CSV'...  acbd1537-69b8-548d-a90f-eedb416acd71  State Drug Utilization Data 1992  2015-06-11T14:25:57+00:00  2021-02-18T02:59:11+00:00  https://www.usa.gov/government-works  [State Drug Utilization]         NaN  no-reply@data.medicaid.gov    Medicaid.gov  data.medicaid.gov  dcat:Dataset             R/P10Y  org:Organization      NaN        NaN
116   [009:00]   [009:076]      public  [pharmacy, medicaid reimbursements, drug utili...         NaN  Drug utilization data are reported by states f...  [{'@type': 'dcat:Distribution', 'title': 'CSV'...  c39d3302-2d39-5209-9310-388ab1c8cbb8  State Drug Utilization Data 1999  2015-06-11T14:20:33+00:00  2021-02-18T03:45:30+00:00  https://www.usa.gov/government-works  [State Drug Utilization]         NaN  no-reply@data.medicaid.gov    Medicaid.gov  data.medicaid.gov  dcat:Dataset             R/P10Y  org:Organization      NaN        NaN

Looping through datasets and the related splitting API requests

In [ ]:
2476565

In [25]:
#np.linspace(0, 100, num = 3, endpoint = True)

for i in np.linspace(0, 2476565, num = round((2476565/10000)+1), endpoint = True).astype(int):
    print(i)

0
9986
19972
29958
39944
49930
59916
69903
79889
89875
99861
109847
119833
129819
139806
149792
159778
169764
179750
189736
199722
209709
219695
229681
239667
249653
259639
269626
279612
289598
299584
309570
319556
329542
339529
349515
359501
369487
379473
389459
399445
409432
419418
429404
439390
449376
459362
469349
479335
489321
499307
509293
519279
529265
539252
549238
559224
569210
579196
589182
599168
609155
619141
629127
639113
649099
659085
669071
679058
689044
699030
709016
719002
728988
738975
748961
758947
768933
778919
788905
798891
808878
818864
828850
838836
848822
858808
868794
878781
888767
898753
908739
918725
928711
938698
948684
958670
968656
978642
988628
998614
1008601
1018587
1028573
1038559
1048545
1058531
1068517
1078504
1088490
1098476
1108462
1118448
1128434
1138421
1148407
1158393
1168379
1178365
1188351
1198337
1208324
1218310
1228296
1238282
1248268
1258254
1268240
1278227
1288213
1298199
1308185
1318171
1328157
1338143
1348130
1358116
1368102
1378088
1388074
1398060
1408047
1418033
1428019
1438005
1447991
1457977
1467963
1477950
1487936
1497922
1507908
1517894
1527880
1537866
1547853
1557839
1567825
1577811
1587797
1597783
1607770
1617756
1627742
1637728
1647714
1657700
1667686
1677673
1687659
1697645
1707631
1717617
1727603
1737589
1747576
1757562
1767548
1777534
1787520
1797506
1807493
1817479
1827465
1837451
1847437
1857423
1867409
1877396
1887382
1897368
1907354
1917340
1927326
1937312
1947299
1957285
1967271
1977257
1987243
1997229
2007215
2017202
2027188
2037174
2047160
2057146
2067132
2077119
2087105
2097091
2107077
2117063
2127049
2137035
2147022
2157008
2166994
2176980
2186966
2196952
2206938
2216925
2226911
2236897
2246883
2256869
2266855
2276842
2286828
2296814
2306800
2316786
2326772
2336758
2346745
2356731
2366717
2376703
2386689
2396675
2406661
2416648
2426634
2436620
2446606
2456592
2466578
2476565

In [407]:
start_url = 'https://data.medicaid.gov/api/1/datastore/query/'
middle_url = 'ae4d5347-5137-5f6c-b66c3420fa0316d8'
end_url = '/0'

#r = requests.get(prefix_url + stem_url + suffix_url)
#data = r.json()


for offset_i in np.linspace(0, 2476565, num = round((2476565/10000)+1), endpoint = True).astype(int):
    print(offset_i)
    try:
        offset = offset_i
        offset_url = '?offset=' + str(offset)
        r = requests.get(prefix_url + stem_url + suffix_url + offset_url, timeout = 5)
        data = r.json()
        if offset_i == 0:
            df = pd.json_normalize(data['results'], max_level = 1)
        else:
        temp_df = pd.json_normalize(data['results'], max_level = 1)
        df = df.append(temp_df, ignore_index = True)
    except:
        pass
        print('stop!')

In [408]:
print(df)

        utilization_type state          ndc labeler_code product_code package_size  year quarter suppression_used product_name units_reimbursed number_of_prescriptions total_amount_reimbursed medicaid_amount_reimbursed non_medicaid_amount_reimbursed
0                   FFSU    XX  49884018610        49884         0186           10  1996       4             true   METHYLDOPA
1                   FFSU    XX  00456032551        00456         0325           51  1996       3             true   LEVOTHROID
2                   FFSU    XX  00072220016        00072         2200           16  1996       1             true   EURAX LOTI
3                   FFSU    XX  00703536803        00703         5368           03  1996       3             true   SODIUM ACE
4                   FFSU    XX  00075366501        00075         3665           01  1996       1             true    TUSSAR SF
...                  ...   ...          ...          ...          ...          ...   ...     ...              ...          ...              ...                     ...                     ...                        ...                            ...
2489995             FFSU    NM  00536393701        00536         3937           01  1996       3            false   ISOLLYL TA             1178                      31                     153                          0                              0
2489996             FFSU    WA  00378022201        00378         0222           01  1996       2            false   CHLORTALID             1103                      38                  178.73                          0                              0
2489997             FFSU    MN  00173044604        00173         0446           04  1996       3            false       ZOFRAN              397                      14                 3961.88                          0                              0
2489998             FFSU    OK  00536464301        00536         4643           01  1996       1            false   THIORIDAZI            10559                     136                 1018.53                          0                              0
2489999             FFSU    GA  00781180801        00781         1808           01  1996       1            false    TRAZODONE            14835                     291                 2339.91                          0                              0

[2490000 rows x 15 columns]

In [412]:
df.head(100)

   utilization_type state          ndc labeler_code product_code package_size  year quarter suppression_used product_name units_reimbursed number_of_prescriptions total_amount_reimbursed medicaid_amount_reimbursed non_medicaid_amount_reimbursed
0              FFSU    XX  49884018610        49884         0186           10  1996       4             true   METHYLDOPA
1              FFSU    XX  00456032551        00456         0325           51  1996       3             true   LEVOTHROID
2              FFSU    XX  00072220016        00072         2200           16  1996       1             true   EURAX LOTI
3              FFSU    XX  00703536803        00703         5368           03  1996       3             true   SODIUM ACE
4              FFSU    XX  00075366501        00075         3665           01  1996       1             true    TUSSAR SF
..              ...   ...          ...          ...          ...          ...   ...     ...              ...          ...              ...                     ...                     ...                        ...                            ...
95             FFSU    XX  61392001554        61392         0015           54  1996       2             true   VITA,MULTI
96             FFSU    XX  00046042495        00046         0424           95  1996       4             true   INDERAL TA
97             FFSU    XX  53303003040        53303         0030           40  1996       1             true   CARRINGTON
98             FFSU    CT  51285097005        51285         0970           05  1996       2             true   DIGOXIN TA
99             FFSU    KS  00005310060        00005         3100           60  1996       4             true

[100 rows x 15 columns]

In [1]:
df.to_excel("output_mediciad.csv")

NameError: name 'df' is not defined